<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    hello world

    <form action="/hello" method="get">
        <div>
            <label for="name">what your name:</label>
            <input type="text" id="name" name="name">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
<script>
    document.cookie = "session=mySecureSession; path=/; expires=Tue, 19 Jan 2038 03:14:07 GMT";
    // <script>var cookie=document.cookie; fetch("/", {     headers: {       'Accept': 'application/json',       'Content-Type': 'application/json'     },     method: "POST",     body: JSON.stringify(cookie) })</script>
</script>

</html>